
Body{

width:200px;
height:150px;
background: -webkit-linear-gradient(left,yellow,red);
background: -o-linear-gradient(right,yellow,red);
background: -moz-linear-gradient(right,yellow,red);
background: linear-gradient(to right,yellow,red);
}

.contact_form{
width:300px;
height:300px;
border:5px solid #444;
box-shadow: 1px 5px 5px #666;

position:absolute;
left:50%;
top:50%;
}